html {
  scroll-behavior: smooth;
  
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important
}

li{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important
}

@tailwind base;
@tailwind components;
@font-face {
    font-family: 'Magistral' ;
    src: url('/src/assets/Magistral-Bold.ttf');
}
@tailwind utilities;


.slick-slide > div {
    margin: 0 10px;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 2px;
    width: 70%; 
  }
   
.slick-slide {
    margin: 0 -30px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}


@media (min-width: 640px) { 
  .slick-slide > div {
    margin: 5px 10px;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0px;
    width: 60%;
  }
  .slick-slide {
    margin: 0 -60px;
}
  /* the parent */
  .slick-list {
      margin: 0 -10px;
  }
 }
